body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
height: 90vh;
}
main {
display: flex;
justify-content: center;
padding: 40px;
}
.perfil {
width: 320px;
padding: 25px;
/*  background-color: white;  */
border-radius: 12px;
text-align: center;
}
input {
width: 90%;
padding: 10px;
margin: 10px 0;
}
button {
padding: 10px;
margin: 5px;
}


---------------


.atualizado {
background-color: green;
color: rgb(107, 100, 100);
}
.tema-escuro {
background-color: #111;
color: rgb(99, 89, 89);
background-image: linear-gradient(0deg, #000000 0%,rgb(59, 59, 59) 74%,black 100%);
}


.campo-ativo {
border: 5px solid #92bfdd;
}